.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
p{
  font-size: 1.25rem;
  line-height: 1.5rem;
}
.title-heading{
  margin-top: 2rem;
  margin-left: 2rem;
}
.tours-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tour-container{
  width: 70%;
  background-color: #b1eeff;
  padding: 2.5rem 3rem 2rem 3rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  -webkit-box-shadow: 2px 3px 25px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 25px 4px rgba(0,0,0,0.75);
box-shadow: 2px 3px 25px 4px rgba(0,0,0,0.75);
}
.tour-image{
  width: 80%;
}
.tour-image img{
  width: 100%;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  height: 30rem;
}

.price{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
}

.btn{
  padding: 0.75rem 2rem;
  color: red;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border: 1px solid red;
  font-size: 0.85rem;
  cursor: pointer;
  font-weight: 600;
}

.btn:hover{
  background-color: red;
  color: white;
}

.btn-refresh{
  padding: 0.75rem 2rem;
  color: black;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background-color: rgb(96, 96, 206);
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -webkit-box-shadow: 3px 6px 25px 4px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 6px 25px 4px rgba(0,0,0,0.75);
box-shadow: 3px 6px 25px 4px rgba(0,0,0,0.75);
}

.btn-refresh:hover{
  background-color: rgb(194, 188, 188);
  border: 1px solid rgb(6, 6, 134);
}

.btn-refresh:active{
  box-shadow: none;
}

.read-btn{
  border: none;
  background: inherit;
  cursor: pointer;
  color: blue;
  font-weight: 600;
}